* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.game-info {
  color: #fff;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.game-info.active {
  background-color: green;
}

.btn {
  color: black;
  position: absolute;
  /* left: 50%; */
  bottom: 3rem;
  /* transform: translateX(-50%); */
  background-color: white;
  border-radius: 1rem;
  border: 3px solid yellow;
  padding: 0.5rem 2rem;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  animation: zoom-in-zoom-out 3s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.75, 0.75);
  }
  50% {
    transform: scale(1.25, 1.25);
    background-color: #7dfffb;
  }
  100% {
    transform: scale(0.75, 0.75);
  }
}
/* 
.btn.active {
  display: flex;
} */

.tic-tac-toe {
  width: 90%;
  max-width: 20rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1/1;
}

.box {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  font-size: 3rem;
  color: white;
  display: grid;
  place-items: center;
  transition: all 150ms ease-in-out;
}

.box1,
.box2,
.box4,
.box5 {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.box3,
.box6 {
  border-bottom: 2px solid white;
}

.box8,
.box7 {
  border-right: 2px solid white;
}
